@import 'bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

body {
    background-image: url("/public/upscalemedia-transformed.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pokemon-color {
    background-color: #e01915;
    color: white;
}

.navbar-icon {
    width: 150px;
    height: 55px;
    object-fit: cover;
}

.card-item:hover {
    transform: scale(1.06);
    transition: transform 0.4s ease-in-out;
}

.pokemon-color-btn {
    background-color: #db0d09;
    color: white;
    border-radius: 10px;
}

.pokemon-color-btn:hover {
    background-color: #ff0000 !important;
    color: #ffffff;
    border: 1.5px solid #000000;
}

.pokemon-img-detail {
    height: 250px;
    max-width: 250px;
    display: block;
    object-fit: contain;
}

.navbar {
    background-image: url("/public/wp8813131.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

footer {
    background-image: url("/public/wp8813131.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.pokemon-title {
    background: linear-gradient(to bottom, #000000, #363636);
    color: white;
    display: inline-block;
    width: 99.9%;
    text-align: center;
    font-size: 2.1rem;
    cursor: pointer;
    margin: auto;
}

.card {
    cursor: pointer;
}

.scroll-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    max-height: 250px;
    overflow-y: auto;
    padding-left: 0;
    list-style: none;
    justify-content: center;
}

.scroll-list li {
    flex: 0 0 auto;
    background: #eaeef1;
    padding: 0.3rem 0.6rem;
    margin: 0;
}

.navbar-text {
    font-size: 1.05rem;
}

.border-thick {
    border: 1.3px solid rgba(0, 0, 0, 0.593);
}

.badge-fire {
    background-color: #fb6e10;
    color: white;
}

.badge-water {
    background-color: #2076E1;
    color: white;
}

.badge-grass {
    background-color: #2b8f12;
    color: white;
}

.badge-electric {
    background-color: #ffe600;
    color: black;
}

.badge-psychic {
    background-color: #DC3369;
    color: white;
}

.badge-normal {
    background-color: #747b74;
    color: white;
}

.badge-ice {
    background-color: #31CAF0;
    color: black;
}

.badge-fighting {
    background-color: #B05800;
    color: white;
}

.badge-poison {
    background-color: #8135BA;
    color: white;
}

.badge-ground {
    background-color: #793a0d;
    color: rgb(255, 255, 255);
}

.badge-flying {
    background-color: #84bff6;
    color: black;
}

.badge-bug {
    background-color: #899816;
    color: white;
}

.badge-rock {
    background-color: #9F996D;
    color: white;
}

.badge-ghost {
    background-color: #683969;
    color: white;
}

.badge-dragon {
    background-color: #404FCF;
    color: white;
}

.badge-dark {
    background-color: #3F3331;
    color: white;
}

.badge-steel {
    background-color: #5496AD;
    color: black;
}

.badge-fairy {
    background-color: #E562E4;
    color: black;
}

.direction-arrow {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.arrow-wrapper {
    width: 60px;
    min-width: 40px;
}

.audio-wrapper {
    width: 100%;
    max-width: 400px;
}

audio {
    width: 100%;
}

.pokemon-show-btn {
    background-color: #f2f2f2;
    color: #585858d8;
    border: 1px solid #d8d8d8d8;
    border-radius: 11px;
    padding: 0.1rem 0.5rem;
    font-size: 0.7rem;
}

.pokemon-show-btn:hover {
    background-color: #e40d0a;
    color: #ffffff;
}

.pokemon-color-back {
    background-color: #db0d09;
    color: white;
    border-radius: 10px;
}

.pokemon-color-back:hover {
    background-color: #ee0000 !important;
    color: #ffffff;
}

.pokemon-dropdown {
    max-height: 250px;
    overflow-y: auto;
}

.pokemon-type-img {
    height: 140px;
    object-fit: contain;
}

.active-sprite {
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0);
}

.sprite-preview {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.active-sprite {
    box-shadow: 1px 1px 7px #0000007d;
}

